{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-primary p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-bag f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">{{ numSensor }}</h2>
                        <p class="m-b-0">Number of Sensors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-pink p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-comment f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">{{ hitPerHour }}</h2>
                        <p class="m-b-0">Hit Per Hour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sensor Lists : {{ company }}</h4>
                    <h6 class="card-subtitle">Monitor &amp; Manage the Sensor Devices</h6>
                    <div class="table-responsive m-t-40">
                        <p>
                            Click <a href="http://103.24.56.244:5000/api/sensors/v1.0/downloadinstaller">here</a> to download the sensor installer
                        </p>
                        <table id="list-sensor" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Device ID</th>
                                    <th>Device Name</th>
                                    <th>Hostname</th>
                                    <th>IP Address</th>
                                    <th>Location</th>
                                    <th>Sensor Key</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in sensors %}
                                <tr>
                                    <td>{{ item.device_id }}</td>
                                    <td>{{ item.device_name }}</td>
                                    <td>{{ item.hostname }}</td>
                                    <td>{{ item.ip_address }}</td>
                                    <td>{{ item.location }}</td>
                                    <td>{{ item.sensor_key }}</td>

                                    {% if item.status == "RUNNING" %}
                                    <td><span class="badge badge-success">{{ item.status }}</span></td>
                                    {% else %}
                                    <td><span class="badge badge-danger">{{ item.status }}</span></td>
                                    {% endif %}
                                    <td>
                                        <div class="btn-group-vertical">
                                            {% if item.status == "running" %}
                                            <button type="button" class="btn btn-primary btn-xs m-b-10 m-l-5">Stop</button>
                                            {% else %}
                                            <button type="button" class="btn btn-primary btn-xs m-b-10 m-l-5">Start</button>
                                            {% endif %}
                                            <!-- <button type="button" class="btn btn-warning btn-xs m-b-10 m-l-5">Edit</button> -->
                                            <button type="button" class="btn btn-danger btn-xs m-b-10 m-l-5">Remove</button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ url_for('createsensor') }}" class="btn btn-primary btn-md m-b-10 m-t-10">Add New Sensor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}