{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Top 20 Signature Chart : {{ company }}</h4>
                    <h6 class="card-subtitle">Pie Chart of 20 Top Attack Signature on Company</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Top 20 Signature : {{ today }}</h4>
                                </div>
                                <div class="pie-chart">
                                    <canvas id="topSignature"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Top 20 Signature : {{ company }}</h4>
                    <h6 class="card-subtitle">Tables of 20 Top Attack Signature on Company</h6>
                    <div class="table-responsive m-t-40">
                        <table id="topSignatureTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Rank #</th>
                                    <th>Signature Name</th>
                                    <th>Hit Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for signature in top_signature %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ signature.alert_msg }}</td>
                                    <td>{{ signature.value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/lib/chart-js/Chart.bundle.js') }}"></script>
    <script>
        var data = {
            labels : [{% for item in labels %}
                        "{{ item }}",
                    {% endfor %}],
            datasets : [{
                data : [{% for item in values %}
                            {{item}},
                        {% endfor %}],
                
                backgroundColor : [{% for item in colors %}
                                    "rgba({{ item.R }}, {{ item.G }}, {{ item.B }}, 0.9)"{% if not loop.last %},{% endif %}
                                {% endfor %}],
                hoverBackgroundColor: [{% for item in colors %}
                                        "rgba({{ item.R }}, {{ item.G }}, {{ item.B }}, 0.9)"{% if not loop.last %},{% endif %}
                                    {% endfor %}],

            }]
        }

        var options = {
            responsive: true,
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    usePointStyle: true,
                    fontFamily: 'Montserrat',
                },
            },
        }

        var ctx = document.getElementById( "topSignature" );
        ctx.height = 150;
        var eventHitChart = new Chart(ctx,{
            type: 'pie',
            data: data,
            options: options
        });
        
    </script>
{% endblock %}